footer {
	padding: 25px 0;
	background: $black-cl;
	color:#b0b0b0;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.logoft{
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.backtotop{
		text-transform: uppercase;
		cursor: pointer;
		color:#b0b0b0;
	}
	
	@include mobile {
		.container{
			flex-direction: column;
		}
		.logoft{
			margin:20px auto;
			position: initial;
			left: initial;
			@include transform(initial);
		}
	}
}
